{% extends "research_vocabs/base.html" %}
{% load i18n vocabularies %}
{% block content %}
<div class='container py-3'>
  <div class='row'>
  <div class='col-4'>
    <div class='card'>
      <h5 class='card-header'>{{ vocabulary.scheme.label }}</h5>
      <div class='card-body'>
        <p class='card-text'>
          {{ vocabulary.scheme|concept_attr:"skos:definition" }}
        </p>
          {% process_attrs vocabulary.scheme "definition,type,changeNote" as description %}
          {% for pred, obj in description %}
          <dl>
            <dt>
              <span class="fw-semibold text-nowrap"
                    data-bs-toggle="tooltip" 
                    data-bs-placement="top"
                    data-bs-title="{{pred.0}}:{{pred.2}}" >{{ pred.2|decamelize|capfirst }}</span>
              
            </dt>
            <dd>
              {% if obj.is_list %}{% for list_value in obj.value %}
                <div>              
                  {% if list_value|is_concept %}
                    <a href="{{ list_value.get_absolute_url }}">{{ list_value.label }}</a>
                    {% elif list_value|is_link %}
                    <a href="{{ list_value }}">{{ list_value }}</a>
                    {% else %}
                      {{ list_value }}
                  {% endif %}
                </div>
                {% endfor %}
              {% else %}
                {% if obj.value|is_concept %}
                  <a href="{{ obj.value.get_absolute_url }}">{{ obj.value.label }}</a>
                {% elif obj.value|is_link %}
                  <a href="{{ obj.value }}">{{ obj.value }}</a>
                {% else %}
                  {{ obj.value }}
                {% endif %}
              {% endif %}
            </dd>
          </dl>
          {% endfor %}
      </div>
    </div>
  </div>
  <div class='col-8'>
    <h3>{{concept.label|title}}</h3>
    <hr>
    <div class='term-definition mb-3'>
      {% compute_qname "skos:definition" as definition %}
      <h5><span data-bs-toggle="tooltip" 
      data-bs-placement="bottom"
      data-bs-title="{{definition.prefix}}:{{definition.name}}" >{{ definition.name|title }}:</span></h5>
      <p class='ms-3'>
        {{ concept|concept_attr:"skos:definition" }}
      </p>
    </div>
    <div class='term-hierarchy mb-3'>
      <h5><span>{% trans "Hierarchy" %}:</span></h5>
      {% include "research_vocabs/tree.html" %}
    </div>
    <h5><span>{% trans "Attributes" %}:</span></h5>
    <table class='table table-striped'>
      <tbody>
        {% process_attrs concept exclude as description %}
        {% for pred, obj in description %}
        <tr>
          <td>
            <span class="fw-semibold text-nowrap"
                  data-bs-toggle="tooltip" 
                  data-bs-placement="top"
                  data-bs-title="{{pred.0}}:{{pred.2}}" >{{ pred.2|decamelize|capfirst }}</span>
            
          </td>
          <td>
            {% if obj.is_list %}{% for list_value in obj.value %}
              <div>              
                {% if list_value|is_concept %}
                  <a href="{{ list_value.get_absolute_url }}">{{ list_value.label }}</a>
                  {% elif list_value|is_link %}
                  <a href="{{ list_value }}">{{ list_value }}</a>
                  {% else %}
                    {{ list_value }}
                {% endif %}
              </div>
              {% endfor %}
            {% else %}
              {% if obj.value|is_concept %}
                <a href="{{ obj.value.get_absolute_url }}">{{ obj.value.label }}</a>
              {% elif obj.value|is_link %}
                <a href="{{ obj.value }}">{{ obj.value }}</a>
              {% else %}
                {{ obj.value }}
              {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
</div>

{% endblock content %}