
{% comment %} <form class="d-flex mb-3" role="search"> {% endcomment %}
  <input id="treeSearch" class="form-control mb-3" type="search" placeholder="Search" aria-label="Search" value="{{concept.label}}">
{% comment %} </form> {% endcomment %}
<div id="jstree"></div>


<script>
  $(document).ready(function() {

    const name = '{{ concept.name }}';

    $('#jstree').jstree({
      'core': {
        'data': {{ vocabulary.tree|safe }}
      },
      "plugins" : [ "search", "sort" ],
      'search': {
        'show_only_matches': true,
        'show_only_matches_children': true,
        search_callback: function(str, node) {
          // exact matches only
          if (node.id.toLowerCase() === str.toLowerCase()) {
            return true;
          }
          {% comment %} if (node.text.toLowerCase().includes(str.toLowerCase())) {
            return true;
          } {% endcomment %}
          
          return false;
        }
      }
    });


    $('#jstree').on('ready.jstree', function (e, data) {
      $('#jstree').jstree(true).search(name);
    })

    $('#jstree').bind("select_node.jstree", function (e, data) {
      var href = data.node.a_attr.href;
      window.location.href = href;
    });
    var to = false;
    $('#treeSearch').keyup(function () {
      if (to) { 
        clearTimeout(to); 
      }

      to = setTimeout(function () {
        var v = $('#treeSearch').val();
        $('#jstree').jstree(true).search(v);
      }, 250);
    });


  });
</script>