{% extends "research_vocabs/base.html" %}
{% load i18n vocabularies %}
{% block sidebar %}
  <div class="col-4">
    <div class="sticky-bottom overflow-x-hidden">
      {% if not is_scheme %}
        <div class="mb-3">
          <h6>
            <span>{% trans "Occurs in" %}</span>
          </h6>
          <a href="{% url "vocabularies:detail" vocabulary=vocabulary.scheme.name %}">{{ vocabulary.scheme.label }}</a>
        </div>
      {% endif %}
      <div class="mb-3">
        <h6>
          <span>{% trans "Structure" %}</span>
        </h6>
        {% include "research_vocabs/tree.html" %}
      </div>
    </div>
  </div>
{% endblock sidebar %}
{% block content_inner %}
  {% render_table concept %}
{% endblock content_inner %}
